.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navbar__black {
  background-color: black;
}
.navbar__logo {
  margin-left: 20px;
  object-fit: contain;
  height: 80px;
}

.navbar__avatar {
  margin-right: 20px;
  object-fit: contain;
  height: 40px;
}
